<div class="content clearfix">
    <div class="intro-title-dark-bg">
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30">Fiche Client</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-block">
        <div class="row">
            <div class="column width-12">
                <div style="margin-bottom: 50px;">
                    <% if (isSuperUser) { %>
                        <a id="editButton" style="margin: 0;" class="cta-button" onclick="toggleEditMode()">Modifier</a>
                    <% } %>
                    <a href="/client/<%= client.id %>/schedule" class="cta-button">Programmer un rendez-vous</a>
                    <a href="/client/<%= client.id %>/send-to-dder" class="cta-button">Transmettre la fiche à DDER</a>
                </div>
                <form id="clientForm" action="/client/<%= client.id %>/edit" method="POST" enctype="multipart/form-data" style="display: none;">
                    <div class="unique-form-group">
                        <label for="nom">Nom</label>
                        <input type="text" id="nom" name="nom" value="<%= client.nom %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" id="prenom" name="prenom" value="<%= client.prenom %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="adresse">Adresse</label>
                        <input type="text" id="adresse" name="adresse" value="<%= client.adresse %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="ville">Ville</label>
                        <input type="text" id="ville" name="ville" value="<%= client.ville %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="code_postal">Code Postal</label>
                        <input type="text" id="code_postal" name="code_postal" value="<%= client.code_postal %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="type_renovation">Type de rénovation souhaitée</label>
                        <input type="text" id="type_renovation" name="type_renovation" value="<%= client.type_renovation %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="<%= client.email %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="telephone">Téléphone</label>
                        <input type="tel" id="telephone" name="telephone" value="<%= client.telephone %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="superficie">Superficie</label>
                        <input type="text" id="superficie" name="superficie" value="<%= client.superficie %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="type_batiment">Type de bâtiment</label>
                        <input type="text" id="type_batiment" name="type_batiment" value="<%= client.type_batiment %>" required>
                    </div>
                    <div class="unique-form-group">
                        <label for="photos">Photos</label>
                        <input type="file" id="photos" name="photos" multiple>
                    </div>
                    <div class="unique-form-group">
                        <label for="notes">Notes supplémentaires</label>
                        <textarea id="notes" name="notes"><%= client.notes %></textarea>
                    </div>
                    <div class="unique-form-group">
                        <label for="status">Statut fiche client</label>
                        <select id="status" name="status" required>
                            <option value="validé" <%= client.status === 'validé' ? 'selected' : '' %>>Validé</option>
                            <option value="en attente" <%= client.status === 'en attente' ? 'selected' : '' %>>En attente</option>
                            <option value="invalide" <%= client.status === 'invalide' ? 'selected' : '' %>>Invalide</option>
                            <option value="transmise" <%= client.status === 'transmise' ? 'selected' : '' %>>Transmise</option>
                        </select>
                    </div>
                    <div class="unique-form-group">
                        <label for="workStatus">Statut des travaux</label>
                        <select id="workStatus" name="workStatus" required>
                            <option value="premier contact" <%= client.workStatus === 'premier contact' ? 'selected' : '' %>>Premier contact</option>
                            <option value="rendez-vous planifié" <%= client.workStatus === 'rendez-vous planifié' ? 'selected' : '' %>>Rendez-vous planifié</option>
                            <option value="visite technique effectuée" <%= client.workStatus === 'visite technique effectuée' ? 'selected' : '' %>>Visite technique effectuée</option>
                            <option value="travaux en cours" <%= client.workStatus === 'travaux en cours' ? 'selected' : '' %>>Travaux en cours</option>
                            <option value="travaux complétés" <%= client.workStatus === 'travaux complétés ' ? 'selected' : '' %>>Travaux complétés </option>
                        </select>
                    </div>
                    <button type="submit" id="saveButton" class="unique-submit-btn">Mettre à jour le client</button>
                </form>
                <div id="clientDetails">
                    <h2><%= client.nom.charAt(0).toUpperCase() + client.nom.slice(1) %> <%= client.prenom.charAt(0).toUpperCase() + client.prenom.slice(1) %></h2>
                    <p><strong>Adresse:</strong> <%= client.adresse.charAt(0).toUpperCase() + client.adresse.slice(1) %>, <%= client.ville.charAt(0).toUpperCase() + client.ville.slice(1) %> <%= client.code_postal %></p>
                    <p><strong>Email:</strong> <%= client.email %></p>
                    <p><strong>Téléphone:</strong> <%= client.telephone %></p>
                    <p><strong>Superficie:</strong> <%= client.superficie.charAt(0).toUpperCase() + client.superficie.slice(1) %></p>
                    <p><strong>Type de bâtiment:</strong> <%= client.type_batiment.charAt(0).toUpperCase() + client.type_batiment.slice(1) %></p>
                    <p><strong>Type de rénovation:</strong> <%= client.type_renovation.charAt(0).toUpperCase() + client.type_renovation.slice(1) %></p>
                    <p><strong>Statut fiche client:</strong> <%= client.status.charAt(0).toUpperCase() + client.status.slice(1) %></p>
                    <p><strong>Statut des travaux:</strong> <%= client.workStatus.charAt(0).toUpperCase() + client.workStatus.slice(1) %></p>
                    <p><strong>Notes:</strong> <%= client.notes.charAt(0).toUpperCase() + client.notes.slice(1) %></p>
                    <div>
                        <strong>Photos:</strong>
                        <% client.photos.forEach(photo => { %>
                            <img src="<%= photo %>" alt="Photo du client" style="max-width: 100px;">
                        <% }) %>
                    </div>
                    <p><strong>Commercial:</strong> <%= client.emailCommercial %></p>
                    <p><strong>Date de création:</strong> <%= new Date(client.createdAt).toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></p>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function toggleEditMode() {
        document.getElementById('clientForm').style.display = 'block';
        document.getElementById('clientDetails').style.display = 'none';
        document.getElementById('editButton').style.display = 'none';
    }
</script>
