<div class="content clearfix">
    <div class="intro-title-dark-bg">
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30">Liste clients</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste clients</li>
            </ol>
        </nav>
    </div>
    <section class="section-block">
        <div class="row">
            <div class="colum">
                <div>
                    <button onclick="toggleFilters()">Afficher/Masquer les filtres</button>
                    <div id="filters" style="display: none;">
                        <select id="filterVille" onchange="filterClients()">
                            <option value="">Filtrer par ville</option>
                            <% clients.forEach(client => { %>
                                <option value="<%= client.ville %>"><%= client.ville %></option>
                            <% }) %>
                        </select>
                        <select id="filterTypeRenovation" onchange="filterClients()">
                            <option value="">Filtrer par type de rénovation</option>
                            <% clients.forEach(client => { %>
                                <option value="<%= client.type_renovation %>"><%= client.type_renovation %></option>
                            <% }) %>
                        </select>
                        <input type="date" id="filterDate" onchange="filterClients()">
                    </div>
                </div>
                <div>
                    <button onclick="toggleSort()">Afficher/Masquer le tri</button>
                    <div id="sort" style="display: none;">
                        <select id="sortOptions" onchange="sortClients()">
                            <option value="nom">Trier par nom</option>
                            <option value="ville">Trier par ville</option>
                            <option value="type_renovation">Trier par type de rénovation</option>
                            <option value="date">Trier par date</option>
                        </select>
                    </div>
                </div>
                <div style="margin: 10px 0;">
                    <input type="text" id="searchBar" placeholder="Rechercher un client..." onkeyup="searchClients()">
                </div>
                <div id="clientsList">
                    <div class="rowBootstrap">
                        <% clients.forEach(client => { %>
                            <div class="col-6 client-card">
                                <div class="toastBox alertingBlue">
                                    <h2><%= client.nom.charAt(0).toUpperCase() + client.nom.slice(1) %> <%= client.prenom.charAt(0).toUpperCase() + client.prenom.slice(1) %></h2>
                                    <p><strong>Adresse:</strong> <%= client.adresse.charAt(0).toUpperCase() + client.adresse.slice(1) %>, <%= client.ville.charAt(0).toUpperCase() + client.ville.slice(1) %>, <%= client.code_postal %></p>
                                    <p><strong>Email:</strong> <%= client.email %></p>
                                    <p><strong>Téléphone:</strong> <%= client.telephone %></p>
                                    <p><strong>Statut travaux:</strong> <%= client.workStatus.charAt(0).toUpperCase() + client.workStatus.slice(1) %></p>
                                    <p><strong>Statut fiche:</strong> <%= client.status.charAt(0).toUpperCase() + client.status.slice(1) %></p>
                                    <p class="type_renovation"><strong>Type de rénovation:</strong> <%= client.type_renovation %></p>
                                    <p><strong>Date de création:</strong> <%= new Date(client.createdAt).toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></p>
                                    <a href="/client/<%= client.id %>" class="cta-button">Voir la fiche client</a>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function toggleFilters() {
        const filters = document.getElementById('filters');
        filters.style.display = filters.style.display === 'none' ? 'block' : 'none';
    }

    function toggleSort() {
        const sort = document.getElementById('sort');
        sort.style.display = sort.style.display === 'none' ? 'block' : 'none';
    }

    function searchClients() {
        const searchTerm = document.getElementById('searchBar').value.toLowerCase();
        const clients = document.querySelectorAll('.client-card');
        clients.forEach(client => {
            const clientName = client.querySelector('h2').textContent.toLowerCase();
            client.style.display = clientName.includes(searchTerm) ? 'block' : 'none';
        });
    }

    function sortClients() {
        const sortOption = document.getElementById('sortOptions').value;
        const clientsList = document.querySelector('.rowBootstrap');
        const clients = Array.from(clientsList.children);
        clients.sort((a, b) => {
            const aValue = a.querySelector(`.${sortOption}`).textContent.toLowerCase();
            const bValue = b.querySelector(`.${sortOption}`).textContent.toLowerCase();
            return aValue.localeCompare(bValue);
        });
        clients.forEach(client => clientsList.appendChild(client));
    }

    function filterClients() {
        const filterVille = document.getElementById('filterVille').value.toLowerCase();
        const filterTypeRenovation = document.getElementById('filterTypeRenovation').value.toLowerCase();
        const filterDate = document.getElementById('filterDate').value;
        const clients = document.querySelectorAll('.client-card');
        clients.forEach(client => {
            const clientVille = client.querySelector('.ville').textContent.toLowerCase();
            const clientTypeRenovation = client.querySelector('.type_renovation').textContent.toLowerCase();
            const clientDate = client.querySelector('.date').textContent;
            const dateMatch = filterDate === "" || new Date(clientDate).toLocaleDateString('fr-FR') === new Date(filterDate).toLocaleDateString('fr-FR');
            const villeMatch = filterVille === "" || clientVille.includes(filterVille);
            const typeRenovationMatch = filterTypeRenovation === "" || clientTypeRenovation.includes(filterTypeRenovation);
            client.style.display = dateMatch && villeMatch && typeRenovationMatch ? 'block' : 'none';
        });
    }
</script>